.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    margin-top: 100px;
    width: 380px;
    height: 360px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    padding: 8px;
}

.hero img:hover {
    border-color: yellowgreen;
    cursor: pointer;
    scale: 1.01;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 600;
}

.hero h1 {
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero h2 {
    font-size: 30px;
}

.hero p {
    width: 850px;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 15px 25px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 -5.09%, #b923e1 102.06%);
    cursor: pointer;
}

.hero-resume {
    padding: 15px 45px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}
.hero-resume a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: white;
}

.hero-connect:hover {
    border: 2px solid white;
}

.hero-resume:hover {
    border-color: #b415ff;
}

/* media quary */
@media(max-width:768px) {
    .hero img {
        margin-top: 70px;
        width: 280px;
        height: 260px;
        padding: 5px;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero p {
        font-size: 16px;
        line-height: 20px;
    }
    .hero-connect {
        padding: 7px 12px;
        font-size: 18px;
    }
    .hero-resume{
        padding: 7px 12px;
        font-size: 18px;
    }
}